<a href="https://colab.research.google.com/github/gemapuspasari/Basic-python-TUBES/blob/main/pipeline_suicide_squad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# importing pandas library
import pandas as pd
 
# Create empty dataframe
df = pd.DataFrame()
 
# Creating a simple dataframe
df['name'] = ['Harley Quinn', 'Rick Flag', 'Captain Boomerang',
              'TDK', 'Savant', 'Weasel', 'Mongal', 'Blackguard']
df['gender'] = ['Female', 'Male', 'Male',
                'Male', 'Male', 'Male', 'Female', 'Male']
df['age'] = [31, 34, 34, 42, 60, 43, 47, 31]
 
# View dataframe
df

                name  gender  age
0       Harley Quinn  Female   31
1          Rick Flag    Male   34
2  Captain Boomerang    Male   34
3                TDK    Male   42
4             Savant    Male   60
5             Weasel    Male   43
6             Mongal  Female   47
7         Blackguard    Male   31

In [25]:
# function to find maen
def mean_age_by_group(dataframe, col):
   
    # groups the data by a column and
    # returns the mean age per group
    return dataframe.groupby(col).mean()
   
# function to convert to uppercase
def uppercase_column_name(dataframe):
   
    # Converts all the column names into uppercase
    dataframe.columns = dataframe.columns.str.upper()
     
    # And returns them
    return dataframe

In [26]:
# Create a pipeline that applies both the functions created above
pipeline = df.pipe(mean_age_by_group, col='gender').pipe(uppercase_column_name)
 
# calling pipeline
pipeline

              AGE
gender
Female  39.000000
Male    40.666667

In [27]:
# importing the package
pip install pdpipe

import pdpipe as pdp
import pandas as pd
 
# creating a emplty dataframe named dataset
dataset = pd.DataFrame()
 
# Creating a simple dataframe
dataset['name'] = ['Harley Quinn', 'Rick Flag', 'Captain Boomerang',
                   'TDK', 'Savant', 'Weasel', 'Mongal', 'Blackguard']
 
dataset['gender'] = ['Female', 'Male', 'Male',
                     'Male', 'Male', 'Male', 'Female', 'Male']
 
dataset['age'] = [31, 34, 34, 42, 60, 43, 47, 31]
 
dataset['department'] = ['Free', 'Task X Force', 'Suicide Squad', 
                         'Suicide Squad', 'Jail', 'Jail', 'Free', 'Task X Force']
 
dataset['index'] = [1, 2, 3, 4, 5, 6, 7, 8]

# View dataframe
dataset

SyntaxError: ignored

In [ ]:
# importing the package
pip install pdpipe

import pdpipe as pdp
import pandas as pd
 
# creating a emplty dataframe named dataset
dataset = pd.DataFrame()
 
# Creating a simple dataframe
dataset['name'] = ['Harley Quinn', 'Rick Flag', 'Captain Boomerang',
                   'TDK', 'Savant', 'Weasel', 'Mongal', 'Blackguard']
 
dataset['gender'] = ['Female', 'Male', 'Male',
                     'Male', 'Male', 'Male', 'Female', 'Male']
 
dataset['age'] = [31, 32, 19, 23, 28, 33]
 
dataset['department'] = ['Accounts', 'Management',
                         'IT', 'IT', 'Management',
                         'Advertising']
 
dataset['index'] = [1, 2, 3, 4, 5, 6, 7, 8]

# View dataframe
dataset

In [ ]:
# creating a pipeline and
# droping the umwanted column
dropCol = pdp.ColDrop("index").apply(dataset)
 
# display the new dataframe
# after column drop
dropCol

In [ ]:
# importing the package
import pdpipe as pdp
import pandas as pd
 
# function to assign
# senior and junior in post
def fun(x):
    if x > 30:
        return "Senior"
    else:
        return "Junior"
 
 
# creating a emplty dataframe named dataset
dataset = pd.DataFrame()
 
# Creating a simple dataframe
# importing the package
import pdpipe as pdp
import pandas as pd
 
# function to assign
# senior and junior in post
def fun(x):
    if x > 30:
        return "Senior"
    else:
        return "Junior"
 
 
# creating a emplty dataframe named dataset
dataset = pd.DataFrame()
 
# Creating a simple dataframe
dataset['name'] = ['Harley Quinn', 'Rick Flag', 'Captain Boomerang',
                   'TDK', 'Savant', 'Weasel', 'Mongal', 'Blackguard']
 
dataset['gender'] = ['Female', 'Male', 'Male',
                     'Male', 'Male', 'Male', 'Female', 'Male']
 
dataset['age'] = [31, 32, 19, 23, 28, 33]
 
dataset['department'] = ['Accounts', 'Management',
                         'IT', 'IT', 'Management',
                         'Advertising']
 
dataset['index'] = [1, 2, 3, 4, 5, 6, 7, 8]












 
# creating new column
# comparing with another column
# and applying the function
dataset['post'] = dataset['age'].apply(fun)
 
# display dataframe
dataset
 
# creating new column
# comparing with another column
# and applying the function
dataset['post'] = dataset['age'].apply(fun)
 
# display dataframe
dataset

In [28]:
#droping the valus using ValDrop
df3 = pdp.ValDrop(['IT'],'department').apply(dataset)
 
#display dataframe
df3

NameError: ignored